<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                <div class="intro-text">
                    <span class="name">Nature</span>
                    <!-- <hr class="star-light"> -->
                    <span class="skills">Natureにログインして自然と触れ合おう</span>
                    <div id="facebook-login">
                        <a href="<%= user_omniauth_authorize_path(:facebook) %>">
                            <button type="submit" class="btn btn-lg btn-success">
                                <img src="https://trippiece.com/images/icon_facebook.png" pagespeed_url_hash="2770689458">
                                Facebookで新規登録／ログイン
                            </button>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="container-wrap1" class="container-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 section1-left">
                <img src="/assets/rp1.png" width=200 alt="">
            </div>
            <div class="col-md-6 explain section1-right">
                <h2>Introduction</h2>
                <p>NATUREは,あなたが主催するイベントを友人に呼びかけ,他人と共有することができるアテンドサービスです。</p>
            </div>
        </div>
    </div>
</div>
<div id="container-wrap2" class="container-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 explain section1-right">
                <h2>Action</h2>
                <p>ログイン一つで,あなたのイベントを仲間に教えることができます。NATUREで集まった仲間と共に,あなたのイベントを実現しましょう。行ったイベントは,NATUREで共有することができます。</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/rp2.png" width="100%" alt="">
            </div>
        </div>
    </div>
</div>


