<p id="notice"><%= notice %></p>

<!-- Begin Body -->
<div class="container">
  <div class="col col-sm-12">
    <div class="panel">
      <div align="left" style="margin-left:200px;">
        <h2><%= @post.title %></h2>
        <hr align=left color=black>
      </div>
      <div align="left" style="margin-left:200px;">
        <div class="row">
          <div class="col col-sm-8">
            <%= image_tag @post.image.to_s,:width => "100%" %>
          </div>  
        </div>
      </div>
      <div align="left" style="margin-left:200px;"><%= @post.body %></div>          
    </div>
  </div> 
</div>

